NEO4J_URI=neo4j+sXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NEO4J_USER=XXXXXXX
NEO4J_PASSWORD=T2UUBGOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NEO4J_DATABASE=XXXXXXXXXXXXXXXXXXXXXXXXX
GROQ_API_KEY=gsk_DYCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
